<!DOCTYPE html>
<html ng-app='getintouch'>
<head>
  <meta charset="utf-8" />
  <title>Get In Touch</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body>

<div id="main" ng-controller="ContactsController">
  <h1>Get In Touch</h1>
  <div id="contacts--list">
    <div class="contact--card" ng-repeat="contact in contacts | filter:isOverdue">
      <h3>
        {{ contact.name }}
        <button class="contact--btn-contacted" ng-click="markAsContacted(contact)">Just contacted!</button>
      </h3>
      <p>
        Contacted {{ contact.lastContactedLabel | date:'MM/dd/yy' }}
        <br>
        Contact every {{ contact.contactFrequency }} days
      </p>
    </div>
  </div>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/moment/moment.js"></script>

<script src="app/app.js"></script>
</body>
</html>