<!DOCTYPE html>
<html ng-app='getintouch'>
<head>
  <meta charset="utf-8" />
  <title>Get In Touch</title>
  <link rel="stylesheet" href="styles/style.css" type="text/css">
</head>
<body ng-controller="ContactsController">

<div id="header">
  <div class="title">
    <h1 class="title--header">Get In Touch</h1>
    <ul>
      <li><a href="#" ng-click="dateCutoff.mode='today'">Today's contacts</a></li>
      <li><a href="#" ng-click="dateCutoff.mode='week'">Due in one week</a></li>
    </ul>
  </div>
</div>
<div id="main">
  <div id="contacts--list">
    <div class="contact--card" ng-repeat="contact in contacts | filter:isOverdue">
      <h3>
        {{ contact.name }}
        <button class="contact--btn-contacted" ng-click="markAsContacted(contact)">Just contacted!</button>
      </h3>
      <p class="contact--stats">
        Contacted {{ contact.lastContactedLabel | date:'MM/dd/yy' }}.
        Contact every {{ contact.contactFrequency }} days
        <br>
      </p>
      <label class="contact--card--compose-label" for="contact--notes-chk-{{ contact.id }}">Message {{ contact.name }}...</label>
      <input type="checkbox" id="contact--notes-chk-{{ contact.id }}">
      <div class="contact--notes-and-compose">
        <div class="contact--notes">
          <h4>Notes</h4>
          <textarea ng-model="contact.notes" name="contact--notes--edit" class="contact--notes--edit" rows="10">{{ contact.notes }}</textarea>
        </div>
        <div class="contact--compose">
          <h4>Compose a message</h4>
          <select ng-model="selectedStory"
                  ng-options="story.title group by story.topic for story in stories.filter(contactStoryMatcher(contact))"
                  ng-change="pasteStory(contact,selectedStory)"
                  name="message--stories" id="message--stories">
            <option value="">-- choose a story to include --</option>
          </select>
          <textarea ng-model="contact.message" name="message--compose" id="message--compose" rows="10"></textarea>
        </div>
      </div>
    </div>
    <div id="contact--btn-add-new">
      <button ng-hide="adding" ng-click="adding = true">Add a new contact</button>
      <div id="contact--form-add-new" ng-show="adding">
        <label for="contact--new-name">I want to contact </label>
        <input id="contact--new-name" name="contact--new-name" type="text" placeholder="Name" ng-model="newContact.name">
        <label for="contact--new-frequency"> every </label>
        <input id="contact--new-frequency" name="contact--new-frequency" type="text" placeholder="days" ng-model="newContact.contactFrequency">
        <label for="contact--new-last-contacted"> days. I last contacted them (optional) on </label>
        <input id="contact--new-last-contacted" name="contact--new-last-contacted" type="text" placeholder="m/d/y" ng-model="newContact.lastContacted">
        <label for="contact--new-last-contacted">.</label>
        <br>
        <button ng-click="cancelNew()">Cancel</button> <button ng-click="createNew()">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="lib/angular/angular.js"></script>
<script src="lib/moment/moment.js"></script>

<script src="services/services.js"></script>
<script src="app/app.js"></script>
</body>
</html>