body{
  background-color: #eee;
}

#header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1bc5e7;
  z-index: 10;
}

#header .title{
  width: 800px;
  margin: 4px auto;
}

.title--header{
  display: inline-block;
  margin: 0;
}

.title ul{
  list-style: none;
  display: inline-block;
  margin: 0;
}

.title li{
  display: inline-block;
  position: relative;
  top: -3px;
  padding-right: 15px;
}

#main{
  background-color: white;
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 5vh 20px 0 20px;
  min-height: 95vh;
}

.contact--card{
  border-bottom: solid #ccc 1px;
  padding-bottom: 10px;
}

.contact--btn-contacted{
  float: right;
}

.contact--stats{
  color: #999;
  display: inline-block;
}

.contact--card--compose-label{
  float: right;
}

#contact--btn-add-new{
  padding: 10px 0;
}

input{
  padding: 5px 0;
  margin: 5px 0;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Default State */
.contact--notes-and-compose{
  display: none;
}

/* Toggled State */
input[type=checkbox]:checked ~ .contact--notes-and-compose{
  display: block;
}

textarea{
  width: 795px;
}