#main{
  width: 800px;
  margin: 0 auto;
}

.contact--card{
  border-bottom: solid #ccc 1px;
}

.contact--btn-contacted{
  float: right;
}

#contact--btn-add-new{
  padding: 10px 0;
}

/*#contact--btn-add-new{*/
  /*text-height: 2em;*/
/*}*/

input{
  padding: 5px 0;
  margin: 5px 0;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  /* For mobile, it's typically better to position checkbox on top of clickable
     area and turn opacity to 0 instead. */
}

/* Default State */
.contact--notes{
  display: none;
}

/* Toggled State */
input[type=checkbox]:checked ~ .contact--notes {
  display: block;
}